@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-blue: #223c94;
  --brand-dark: #231b1c;
}

html, body {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

.logo-font {
  font-family: 'Pacifico', serif;
}